html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.column {
	float: left
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.left {
	margin: 50px 0 0 50px;
	width: 65%;
}
.right {
	margin-top: 20px;
	padding: 25px 0;
	width: 30%;
	text-align: left;
}
td {
	padding-right: 40px;
}